@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.leckerli-one-regular {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
}

.mainContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginsignup-outer-container-signup-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    padding: 20px;
    background-color: #83ac92;
    border-radius: 15px;
    margin: 20px;
    height: 80vh;
}

.loginsignup-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    /* max-width: 600px; */
    height: 100vh;
    /* background-color: #66ef8a; */
    padding-bottom: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}

/* Resetting potential global div styles from navbar.css if present */
.loginsignup-container div {
    background-color: transparent;
    padding: 0;
}

.loginsignup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 9px; */
    width: 100%;
    /* margin-top: 30px; */
}

.loginsignup-inputs {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.loginsignup-input {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    height: 45px;
    background: #eaeaea !important;
    border-radius: 50px;
    padding: 0 20px !important;
}

.loginsignup-input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.loginsignup-input select {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    cursor: pointer;    
}

.loginsignup-submit-container {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    margin-left: 200px;
}

.loginsignup-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #10612d !important;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.loginsignup-toggle {
    text-align: center;
    color: #5c5c5c;
    font-size: 18px;
    /* margin-bottom: 10px; */
    transform: translateY(-30px);
    margin-left: 200px;
}

.loginsignup-toggle span {
    color: #333;
    cursor: pointer;
    font-weight: 600;
}

.banku{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-right: 50px;
    /* flex: 1 1 300px; */
}

.banku-logo{
    margin-bottom: 220px;
}

.banku-form{
    flex-direction: row;
    justify-content: center;
}

.bankuLogo{
    width: auto;
    height: 300px;
    display: block;
}

.text_ab_ab_sngup{
    font-family: "Leckerli One", cursive;
    font-size: 52px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

@media (max-width: 1024px) {
  .loginsignup-outer-container-signup-container {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }

  .banku-logo {
    margin-bottom: 20px;
  }

  .bankuLogo {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .loginsignup-container {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
  }

  .loginsignup-input {
    width: 100%;
    max-width: 400px;
  }

  .loginsignup-submit {
    width: 100%;
    max-width: 300px;
  }

  .text_ab_ab_sngup {
    font-family: "Leckerli One", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    text-align: center;
  }
  
  .loginsignup-toggle {
      transform: none;
      margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .bankuLogo {
    max-width: 150px;
  }

  .text_ab_ab_sngup {
    font-family: "Leckerli One", cursive;
    font-size: 50px;
    font-weight: 400;
    font-size: 32px;
  }
}

.logo-abc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;
}

.signup-container {
    padding-top: 0;
    margin-top: 0;
}

#abc1 {
    height: auto;
    width: 200px;
    transform: translateY(7px);
}
