
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5rem 2rem;
}   

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-size: 1.5rem;
  font-weight: 700;
  height: 65px;
  object-fit: contain;
  overflow: hidden;
}

.navLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navLinks {
  display: flex;
  align-items: center;
  font-family:'Norwester',sans-serif;
  letter-spacing: 0.05em;

  gap: 3rem;
}

.navLink {
  text-decoration: none;
  color: #4b4b4b;
  font-weight: 900;
  transition: color 0.2s ease;
}

.navLink:hover {
  text-decoration: underline;
  color: #10612D;
}

.navCTA {
  background: #10612D;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-family:'Norwester',sans-serif;
  letter-spacing: 0.1em;

  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navCTA:hover {
  background: #10612D;
  transform: translateY(-1px);
}
